*.swp
coverage
node_modules
browser/tests.js
docs/api

CONTRIBUTING.html
LICENSE.html
README.html
examples.html
npm-debug.log

apiref
bower_components
report
.DS_Store


flocore.js
flocore.min.js
flocore.js.sig
flocore.min.js.sig
tests.js
